@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

.fuente1{
    font-family: 'Open Sans', sans-serif;
}

.fuente2{
    font-family: 'Roboto', sans-serif;
}
.fuente3{
    font-family: 'Lato', sans-serif;
}
.fuente4{
    font-family: 'Montserrat', sans-serif;
}
.fuente5{
    font-family: 'Poppins', sans-serif;
}
.fuente6{
    font-family: 'Source Sans Pro', sans-serif;
}

#font-select {
    margin-top: 10px;
    margin-bottom: 20px;
  }

body {
    transition: all 0.5s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #333;
}

input[type="text"]{
    transition: all 0.5s ease-in-out;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #333;
}

button {
    background-color: #fff;
    color: #222;
}

li {
    list-style: none;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

.Darkmode #resultados {
    color: #fff;
}

.Darkmode{
    transform: all 0.5s ease-in-out;
    background-color: #222;
    color: #fff
}

.Darkmode button {
    background-color: #232323;
    color: #fff;
}

.Darkmode input[type="text"] {
    transition: all 0.5s ease-in-out;
    background-color: #444;
    color: #fff;
    border: 1px solid #fff;
}
